@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

.logo {
    width: 30vw;
    height: 20vh;
}

#logo {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}

.gradient {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #FF2100, #0070FF, #97FF00);
    animation: cores 15s ease infinite;
}

.container {
    display: none;
    width: 95vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table, td, tr, th {
    border: 1px solid black;
    padding: 3px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

td input {
    width: 10vw;
    color: black;
}

#Tabela {
    display: flex;
    width: 90vw;
    height: 72vh;
    align-items: center;
}

#Tabela2 {
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


#agu {
    display: none;
    animation: aparecer 2s;
}

@keyframes aparecer {
    0% {opacity: 0;}
    25% {opacity: 0,25} 
    50% {opacity: 0,5}
    75% {opacity: 0,75} 
    100% {opacity: 1;}
}

@keyframes sumir {
    0% {opacity: 1}
    25% {opacity: 0,75} 
    50% {opacity: 0,5}
    75% {opacity: 0,25} 
    100% {opacity: 0}
}

@keyframes cores {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#p1 {
    z-index: 0;
    height: 45vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#p2 {
    z-index: 0;
    height: 45vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

input[type="number"] {
    background-color: #C42912;
}

#MemoryCounter {
    display: none;
    background-color: whitesmoke;
    border-radius: 20px;
    border-color: whitesmoke;
    text-align: center;
    padding: 10px;
}

.Memory {
    padding: 5px;
}

#SubContainer {
    z-index: 10;
    display: none;
    width: 20vw;
    height: 40vh;
    background-color: #0070FF;
}


input[type=range]{
    -webkit-appearance: none;
    background: rgb(182, 4, 4);  
    border: 1px solid rgb(255, 118, 118);
    padding: 2px 5px 2px 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-image: url(assets/koromon.png);
    background-size: contain;
    cursor: pointer;
  }

input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%; 

    background-image: url(assets/koromon.png);
    background-size: contain;
    cursor: pointer;
}
  
.gameplay {
    display: flex;
}

#SubContainer1, #SubContainer2 {
    display: table-column;
}
